<div class="wrapper" fxFlex="grow">
  <section>
    <h3>Farbe:</h3>
    <p><mat-checkbox>Schwarz</mat-checkbox></p>
    <p><mat-checkbox>Weiß</mat-checkbox></p>
    <p><mat-checkbox>Navy Blau</mat-checkbox></p>
    <p><mat-checkbox>Galaxy Lila</mat-checkbox></p>
  </section>

  <section>
    <h3>Marke:</h3>
    <p><mat-checkbox>Porsche</mat-checkbox></p>
    <p><mat-checkbox>Adidias</mat-checkbox></p>
    <p><mat-checkbox>Microsoft</mat-checkbox></p>
    <p><mat-checkbox>Lenovo</mat-checkbox></p>
    <p><mat-checkbox>Apple</mat-checkbox></p>
    <p><mat-checkbox>Samsung</mat-checkbox></p>
  </section>

  <section>
    <h3>Eigenschaft:</h3>
    <p><mat-checkbox>Knacking</mat-checkbox></p>
    <p><mat-checkbox>Butterzart</mat-checkbox></p>
    <p><mat-checkbox>Streichzart</mat-checkbox></p>
    <p><mat-checkbox>Weich</mat-checkbox></p>
    <p><mat-checkbox>Unpenetrierbar</mat-checkbox></p>
  </section>

  <section>
    <h3>Zertifizierung:</h3>
    <p><mat-checkbox>Keine</mat-checkbox></p>
  </section>
</div>