<div fxLayout="row" *ngIf=loading fxFill fxLayoutAlign="center center"><mat-spinner style="scale: 30%"></mat-spinner></div>
<div *ngIf="product" class="wrapper" fxFlex="grow">
  <div class="back-main" fxLayoutAlign="start center">
    <span class="material-icons"> chevron_left </span>
    <a routerLink="/webshop/product-list">Zurück zur Startseite</a>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center" fxLayoutAlign="space-around start">
    <div fxFlex="40%" fxLayoutAlign="center start">
        <img [src]=product.img alt="" class="picture"/>
    </div>
    <div fxFlex="40%" fxLayout="column" fxLayoutAlign="start start" class="content-container">
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutAlign="center center" class="price-box">
        <div fxLayout="row" class="card-content price">
          <div class="card-content price text">Preis:</div>
          <div class="card-content price main">{{ product.price }}</div>
          <div class="card-content price upper" fxLayoutAlign="start start">
            99€
          </div>
          <div class="card-content price description">
            (Preise exklusive USt und Versandkosten.)
          </div>
        </div>
      </div>
      <div class="card-button" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start center">
        <button (click)="onCollect()" color="primary" mat-flat-button>
          In den Einkaufskorb
        </button>
        <p>Jetzt NEU: Mit 28% Finanzierung bei unefektiven Jahreszins!</p>
      </div>
      <mat-divider style="margin-bottom: 8px"></mat-divider>
    </div>
  </div>
  <div style="padding: 16px" [innerHTML]="description"></div>

</div>