<div fxLayout="row" fxLayoutAlign="space-evenly" class="wrapper">
    <div fxLayout="column" fxLayoutAlign="center">
        <h2>Informationen</h2>
        <a>Kontakt</a>
        <a>FAQ</a>
        <a>Zahlungsmethoden</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
        <h2>Rechtliches</h2>
        <a>Impressum</a>
        <a>AGB</a>
        <a>Datenschutzerklärung</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center">
        <h2>Über Discover</h2>
        <a>Über uns</a>
        <a>Presse</a>
        <a>Karriere</a>
    </div>
    
</div>
