<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filtern
            </mat-panel-title>
        </mat-expansion-panel-header>
        <span>Produkt Kategorien</span>
        <div fxLayout="column">
            @for (category of categorys; track category) {
            <mat-checkbox (change)="categoryChecked($event, category)">{{category.displayname}}</mat-checkbox>
            }
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sortieren
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field >
            <mat-label>Sortierung wählen</mat-label>
            <mat-select [(ngModel)]="selectedValue" (selectionChange)="orderingChanged($event)">
                @for (type of ordering_types; track ordering_types) {
                <mat-option [value]="type.name">{{type.displayname}}</mat-option>
                }
            </mat-select>
          </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>