@import "./smarthome-base.scss";

@property --primary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #fbac09;
}

@property --background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5f5f5;
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  height: calc(100% - 72px - 44px);
}

.content-container {
  padding-top: 16px;
  &.filled {
    background-color: var(--background-color);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }
}
