<div class="wrapper" fxLayout="column" fxLayoutAlign="space-between">
  <div class="content" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center" >
    <app-filtering-panel [ngStyle.gt-sm]="{'max-width': '40vb'}"></app-filtering-panel>
    <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="60%" >
      <div fxLayout="column" fxLayoutAlign="space-around end">
        <app-sorting-panel></app-sorting-panel>
        <app-shop></app-shop>
      </div>
      <app-pagination-panel></app-pagination-panel>
    </div>
  </div>
  <app-footer fxHide.lt-sm></app-footer>
</div>