<mat-stepper linear #stepper>
  <mat-step [stepControl]="FormGroup" [editable]="isEditable" label="enter credentials">
    <form [formGroup]="FormGroup">
      <div fxLayout="column" fxFill fxLayoutAlign="center center">

        <mat-form-field appearance="fill">
          <mat-label>Nutzername</mat-label>
          <input matInput formControlName="standartCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailCtrl" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Passwort eingeben</mat-label>
          <input matInput formControlName="passwordCtrl" required [type]="true ? 'password' : 'text'">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password eingeben</mat-label>
          <input matInput formControlName="passwordCtrl" required [type]="true ? 'password' : 'text'">
        </mat-form-field>

        <button mat-button matStepperNext (click)="onNext()">Next</button>
      </div>

    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>summary</ng-template>
    <div fxLayout="column" fxFill fxLayoutAlign="center center">
      <span>Überprüfen Sie die angegebenen Daten.</span>
      <img src="/assets/default_avatar.png" height=150px width=auto style="border-radius:100%;">
      <div fxLayout="row" style="margin-top: 10px" fxLayoutGap="10px">
        <div style="color: gray;">
          <p>username</p>
          <p>email</p>
        </div>

        <div style=" word-wrap: break-word;">
          <p>{{ username }}</p>
          <p>{{ email }}</p>
        </div>
      </div>
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onSubmitRegistration()">submit</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>