<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.lt-sm="center center" fxLayoutAlign="start center"
  class="nav-wrapper">
  <div fxFlexOrder.lt-sm="1">
    <a routerLink="/webshop/product-list" (click)="home()"><img src="../../../assets/discover.png" /></a>
  </div>
  <div fxFlexOrder.lt-sm="2" fxFlex="grow">
    <div fxFlexOrder.lt-sm="3" fxFlex="grow" ngStyle.gt-xs="padding: 0 32px ">
      <div fxLayout="row" fxLayoutAlign="center center">
        <input [(ngModel)]="searchValue" (keydown.enter)="search()" placeholder="Suche nach Produkten" fxFlex="grow"
          matInput class="search-bar child" fxFill />
        <button (click)="search()" style="margin: 2px" mat-mini-fab class="button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlexOrder.lt-sm="4">
      <button mat-mini-fab class="button" (click)="openDialog()">
        <mat-icon>login</mat-icon>
      </button>
    </div>

    <div fxFlexOrder.lt-sm="5" style="margin-left: 2px">
      <button mat-mini-fab class="button" routerLink="cart" [matBadge]="ammount">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>